<a href="https://colab.research.google.com/github/vu-topics-in-big-data-2021/project-energy-group6/blob/main/chiller_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
from IPython.display import display

In [57]:
# Load dataframes locally from colab
chiller1Df = pd.read_csv("/content/2020_Chiller_1.csv")
chiller2Df = pd.read_csv("/content/2020_Chiller_2.csv")
weatherDf = pd.read_csv("/content/nashville-weather.csv")

In [58]:
# Helper functions 
def splitAndFirstToInt(x):
    return int(x.split("\xa0")[0])

def splitAndFirstToFloat(x):
    return float(x.split("\xa0")[0])

# Clean weather data and add columns to new dataframe
weatherCleaned = pd.DataFrame()
weatherCleaned["Temperature(F)"] = weatherDf["Temperature"].apply(splitAndFirstToInt)
weatherCleaned["Dew Point(F)"] = weatherDf["Dew Point"].apply(splitAndFirstToInt)
weatherCleaned["Humidity(%)"] = weatherDf["Humidity"].apply(splitAndFirstToInt)
weatherCleaned["Wind Speed(mph)"] = weatherDf["Wind Speed"].apply(splitAndFirstToInt)
weatherCleaned["Wind Gust(mph)"] = weatherDf["Wind Gust"].apply(splitAndFirstToInt)
weatherCleaned["Pressure(in)"] = weatherDf["Pressure"].apply(splitAndFirstToFloat)
weatherCleaned["Precip.(in)"] = weatherDf["Precip."].apply(splitAndFirstToFloat)
weatherCleaned["Wind"] = weatherDf["Wind"]
weatherCleaned["Condition"] = weatherDf["Condition"]
weatherCleaned["Date"] = pd.to_datetime(weatherDf["Date"])


display(weatherCleaned.head())
display(chiller1Df.head())

   Temperature(F)  Dew Point(F)  Humidity(%)  ...  Wind  Condition                Date
0              41            22           47  ...   WSW       Fair 2020-01-01 01:53:00
1              40            22           49  ...   WSW       Fair 2020-01-01 02:53:00
2              36            23           59  ...   SSW       Fair 2020-01-01 03:53:00
3              37            23           57  ...    SW       Fair 2020-01-01 04:53:00
4              36            24           62  ...   SSW       Fair 2020-01-01 05:53:00

[5 rows x 10 columns]

                        time  PerFreqFanB  PowFanB  ...  PowConP  RunConP  Tonnage
0  2020-01-01 06:00:00+00:00     0.000000      NaN  ...      NaN     True      NaN
1  2020-01-01 06:05:00+00:00     0.330817      NaN  ...      NaN     True      NaN
2  2020-01-01 06:10:00+00:00     0.330817      NaN  ...      NaN     True      NaN
3  2020-01-01 06:15:00+00:00     0.712904      NaN  ...      NaN     True      NaN
4  2020-01-01 06:20:00+00:00     0.712904      NaN  ...      NaN     True      NaN

[5 rows x 26 columns]

In [63]:
chiller1Df["Date"] = pd.to_datetime(chiller1Df["time"].apply(lambda x: x.split("+")[0]))
chiller2Df["Date"] = pd.to_datetime(chiller2Df["time"].apply(lambda x: x.split("+")[0]))

weatherCleaned = weatherCleaned.sort_values("Date")

chiller1AndWeatherDf = pd.merge_asof(chiller1Df, weatherCleaned, on="Date", direction="nearest")
chiller2AndWeatherDf = pd.merge_asof(chiller2Df, weatherCleaned, on="Date", direction="nearest")

In [68]:
chiller1AndWeatherDf.to_csv("chiller1AndWeather_2020.csv")
chiller2AndWeatherDf.to_csv("chiller2AndWeather_2020.csv")